{% load static  %}
<!DOCTYPE html>
<html>
    <head>
        <title>SEARCH ONE</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
        
        <link rel = "stylesheet" href = "{% static 'story8.css' %}">
        
    </head>

    <body>
        <button type="button" id="tombol">Loading</button>
        <ul>
        </ul>
    </body>

    <script>
    $(document).ready(function() {
         $("#tombol").click(function() {
            var yang_ditaruh = $("ul");
            yang_ditaruh.empty();
            console.log("halo")
            var url_tujuan = "https://my-json-server.typicode.com/jonathanfilbert/pti-api/data"
            yang_ditaruh.append("loading");
             $.ajax({
                 url : url_tujuan,
                 success : function (hasil) {
                    console.log("berhasil", hasil)
                    var yang_ditaruh = $("ul");
                    yang_ditaruh.empty();
                    for (i = 0; i < hasil.anggota.length; i++) {
                        yang_ditaruh.append('<li> ' + hasil.anggota[i].nama + "</li>")
                    }
                 }
             }
             );
         });
    });
    </script>

</html>
