{% load static  %}
<!DOCTYPE html>
<html>
    <head>
        <title>SEARCH ONE</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src ="static/one.js"></script>
        
        <link rel = "stylesheet" href = "{% static 'story8.css' %}">
        
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
            <form>
                <div class="input-field">
                <input id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
                </div>
            </form>
            </div>
        </nav>

        <div class ="sambut">
            <h1>Selamat Datang !</h1>
            <h5>Silahkan lakukan pencarian anda</h5>
        </div>

        <div class = "hasil">
        </div>

        <table class ="tabel" class="striped">
            
        </table>
    </body> 
    
</html>

