{% load static %}
<!DOCTYPE html>

<html>
    <head>
    <title>PROFILE</title>
    <link rel="stylesheet" href = "{% static 'home/style.css' %}">
    </head>
    <body>
        <header>
             <h3>Hi, welcome to my web!</h3>
        </header>
        <img src ="{% static 'home/CVNNE2370.JPG' %}" alt = "Foto profil" width="450" heigth ="550">
        <h4> Here are my profile!</h4>
        <table>
            <tr>
                <td><p>Nama</p></td>
                <td>Joshua Diogenes Samuel Rihi</td>
            </tr>
            <tr>
                <td><p>NPM</p></td>
                <td>1906353486</td>
            </tr>
            <tr>
                <td><p>Angkatan</p></td>
                <td>Maung(2019)</td>
            </tr>
             <tr>
                <td><p>Deskripsi diri</p></td>
                <td>Suka main musik</td>
            </tr>
            <tr>
                <td><p>Tempat Studi</p></td>
                <td>Fasilkom, Universitas Indonesia</td>
            </tr>
            <tr>
                <td><p>Riwayat Pendidikan</p></td>
                <td>
                    <dd> SMP Lentera Harapan </dd>
                    <dd> SMA Dian Harapan </dd>
                    <dd> Universitas Indonesia </dd>
                </td>
            </tr>
            <tr>
                <td><p>Media Sosial</p></td>
                <td><a href ="https://www.instagram.com/joshuarihi/">Instagram!</td>
            </tr>    
        </table>
    </body>
</html>