        body {
            background: radial-gradient(50% 50% at 50% 50%, #F97D0A 0%, rgba(249, 125, 10, 0) 75.06%);
            background-color: #BF0606;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: bold;
            color: #FEFEFE;
        }
        
        .navigasi {
            justify-content: center;
            align-items: center;
            position: relative;
            flex-wrap: wrap;
            top: 12rem;
            width: auto;
            z-index: 2;
        }
        
        .navigasi button {
            text-align: center;
            border-radius: 0.8rem;
            background-color: #BF0606;
            border-color: black;
            transition-duration: 0, 4s;
            border: 0.3rem solid white;
        }
        
        button:hover {
            background-color: #fa3200e1;
        }
        
        .navigasi ul button a {
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.65rem;
            color: white;
            padding: 2rem;
        }
        
        .satu {
            position: relative;
            align-self: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        
        p {
            text-align: center;
            font-size: 5rem;
            line-height: 6rem;
        }
        
        #form th {
            font-size: 1.5rem;
            border: 0rem;
        }
        
        #tombol {
            position: relative;
            margin-left: 35%;
            top: 2rem;
        }
        
        #tombol {
            text-align: center;
            border-radius: 0.8rem;
            background-color: #BF0606;
            border-color: black;
            transition-duration: 0, 4s;
            border: 0.3rem solid white;
            color: white;
            font-size: 1.2rem;
        }
        
        #tombol:hover {
            background-color: #fa3200e1;
        }
        
        #tombol a {
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.5rem;
            color: white;
            padding: 0.2rem;
        }
        
        #table th,
        td {
            border: 0.2rem solid white;
            font-size: 1.5rem;
            padding: 2px;
        }
        
        .dua #table {
            position: relative;
            align-self: center;
            margin-left: 35%;
            top: 4rem;
        }
        
        #tombol2 {
            text-align: center;
            border-radius: 0.8rem;
            background-color: #BF0606;
            transition-duration: 0, 4s;
            color: white;
            font-size: 1rem;
        }
        
        #tombol2:hover {
            background-color: #fa3200e1;
        }
        
        #tombol2 a {
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.5rem;
            color: white;
            padding: 0.2rem;
        }