{% extends 'dasar.html' %}
{% block content %}

        <p>Daftar Kegiatan</p>
        <div class = "satu">
            <form method = 'post' id = "kegiatan">
                {% csrf_token %}
                <table id = "form">
                    {{form.as_table}}
                </table>
                <button type = 'submit' id="tombol"> Save </button>
            </form>
        </div>

        <div class = "dua">
            <table id="table">
                <tr>
                    <th>Kegiatan</th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>
                {% for k in KEGIATAN%}
                    <tr>
                        <td>{{k.nama_kegiatan}}</td>
                        <td><button type = 'submit' id ="tombol2"><a  href = "story6/detail_anggota/{{k.nama_kegiatan}}">Detail Anggota</a></button></td>
                        <td><button type = 'submit' id ="tombol2"><a  href = "story6/tambah_anggota/{{k.nama_kegiatan}}">Tambah Anggota</a></button></td>
                    </tr>
                {% endfor %}
            </table>
        </div>


{% endblock %}