{% extends 'dasar.html' %}
{% block content %}

        <p>Daftar Anggota</p>
        <div class = "satu">
            <form method = 'post' id = "kegiatan">
                {% csrf_token %}
                <table id = "form">
                    {{form.as_table}}
                </table>
                <button type = 'submit' id="tombol"> Tambah </button>
            </form>
        </div>


{% endblock %}