{% extends 'dasar.html' %}
{% block content %}

        <p>Detail Anggota</p>

        <div class = "dua">
            <table id="table">
                {% for k in ANGGOTA%}
                <td>{{k.nama_kegiatan}}</td>
                <td>{{KEGIATAN}}</td>
                    {%if k.nama_kegiatan == KEGIATAN%}
                        <td>{{k.nama_anggota}}</td>
                    {%endif %}
                {% endfor %}
            </table>
        </div>


{% endblock %}