header{
    background-color: darkorange;
    align-self: auto;
}
body{
    background-color:black;
    font-family : Helvetica;
    text-align: center;
    font-size: larger;
    color: burlywood;
    white-space: normal;
}
p{
    font-size: 25px;
    font-weight: bold;
}
table{
    padding-top: 0.5cm;
    width: 100%;
    height: 100px;
    align-self: center;
}

img{
    align-content: center;
}
h4{
    color: chocolate;
    font-size: 30px;
}
h3 {
    text-align: center;
    font-size: 80px;
    font-weight: 500;
    color: firebrick;
}
