body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: grey;
}

* {
    box-sizing: border-box;
}

.judul {
    text-align: center;
    font-weight: 800;
}

.accordion {
    max-width: 600px;
    display: block;
    margin: 100px auto;
}

.accordion .card {
    box-shadow: 0px 0px 20px #000000;
    margin-bottom: 20px;
    border-radius: 5%;
}

.accordion .card .card-header h4 {
    cursor: pointer;
    color: #ffffff;
    position: relative;
    background-color: #afafaf;
    margin: 0;
    padding: 20px;
}

.accordion .card .card-header {
    position: relative;
    border-radius: 5%;
}

.card-header:hover {
    background-color: rgb(156, 137, 137);
}

.accordion .card .card-header #icon {
    color: #000;
    position: absolute;
    right: 20px;
    top: 12px;
    height: 25px;
    width: 25px;
}

.accordion .card .card-isi {
    padding: 20px;
}

.accordion .card .card-isi {
    display: none;
}

.accordion .card .card-isi p {
    font-size: 15px;
    line-height: 24px;
}

a {
    color: black !important;
}