{% load static  %}
<!DOCTYPE html>
<html>
    <head>
        <title>ACCORDION</title>
        <script src ="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src ="static/halo.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel = "stylesheet" href = "{% static 'story7.css' %}">
        
    </head>
    <body>
        <div class = "judul">
            <h1>THE ACCORDION.</h1>
        </div>

        <div class = "accordion">

             <div class = "card">
                <div class = "card-header">
                    <h4>Profil</h4>
                    <div id = "icon">
                        <a href="#" class="reorder-up"><i class="material-icons" id = "atas">expand_less</i></a>
                        <a href="#" class="reorder-down"><i class="material-icons" id = "bawah">expand_more</i></a>
                    </div>
                </div>
                <div class = "card-isi">
                    <p>Nama saya Joshua Diogenes Samuel Rihi, biasanya dipanggi dengan nama Joshua. Lahir pada 
                    tahun 2002.</p>
                 </div>
            </div>

             <div class = "card">
                <div class = "card-header">
                    <h4>Hobby</h4>
                    <div id = "icon">
                        <a href="#" class="reorder-up"><i class="material-icons" id = "atas">expand_less</i></a>
                        <a href="#" class="reorder-down"><i class="material-icons" id = "bawah">expand_more</i></a>
                    </div>
                </div>
                <div class = "card-isi">
                    <p>Saya suka bermain musik khususnya gitar dan terkadang saya suka bermain futsal</p>
                 </div>
            </div>

            <div class = "card">
                <div class = "card-header">
                    <h4>Aktivitas</h4>
                    <div id = "icon">
                        <a href="#" class="reorder-up"><i class="material-icons" id = "atas">expand_less</i></a>
                        <a href="#" class="reorder-down"><i class="material-icons" id = "bawah">expand_more</i></a>
                    </div>
                </div>
                <div class = "card-isi">
                    <p>Saat ini saya sedang berkuliah di Universitas Indonesia, sehingga disibukkan dengan tugas yang cukup banyak.
                    Tapi bagaimanapun tugas itu harus diselesaikan, mengingat beberapa minggu lagi akan UAS</p>
                 </div>
            </div>

            <div class = "card">
                <div class = "card-header">
                    <h4>Organisasi dan Kepanitiaan</h4>
                    <div id = "icon">
                        <a href="#" class="reorder-up"><i class="material-icons" id = "atas">expand_less</i></a>
                        <a href="#" class="reorder-down"><i class="material-icons" id = "bawah">expand_more</i></a>
                    </div>
                </div>
                <div class = "card-isi">
                    <p>Oraganisasi yang saya ikuti adalah organisasi keagamaan dan terlibat dalam kepanitiaan pemilu</p>
                 </div>
            </div>
            
            <div class = "card">
                <div class = "card-header">
                    <h4>Prestasi</h4>
                    <div id = "icon">
                        <a href="#" class="reorder-up"><i class="material-icons" id = "atas">expand_less</i></a>
                        <a href="#" class="reorder-down"><i class="material-icons" id = "bawah">expand_more</i></a>
                    </div>
                </div>
                <div class = "card-isi">
                    <p> Pada tahun 2014 lalu, saya berkesempatan untuk mengiktui sebuah lomba menulis essai di 
                    Amerika mengenai bagaimana dunia bekerja. Akhirnya saya berhasil membawa pulang piala juara tiga dan 
                    uang tunai sebesar $10.000</p>
                 </div>
            </div>

        </div>
    </body> 
</html>

