body {
    background-color: bisque;
}

.nav-wrapper {
    background-color: black;
}

.row {
    font-family: 'Times New Roman', Times, serif;
}

.card-content {
    text-align: center;
}

.card-action {
    align-self: center;
}

.card-content .card-title {
    font-weight: bolder;
}

.card {
    width: 250px;
}

.sambut {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: absolute;
    top: 35%;
    left: 35%;
}

.hasil {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
}

.tabel {
    font-family: 'Times New Roman', Times, serif;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.tabel th {
    font-size: 32px;
    text-align: center;
}

.tabel td {
    font-size: 20px;
    font-weight: bold;
}