body {
    background-color: orangered;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-wrapper {
    background-color: black;
}

.brand-logo {
    margin-left: 80px;
    font-size: larger;
}

#atas {
    margin-right: 110px;
}

#tombol {
    font-size: 25px;
    font-style: italic;
    border: none;
    border-radius: 10%;
}

#tombol:hover {
    background-color: #fd3b00;
    color: black;
}

.kata {
    margin-top: 15%;
    text-align: center;
}

#signup {
    color: beige;
    position: relative;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 480px;
    min-height: 100vh;
    margin: auto;
    top: 20px;
}

#bagian-atas .card-title {
    font-size: larger;
}

label {
    font-size: large;
    color: black;
}

#label .active {
    font-size: large;
    color: black;
}

.site-form {
    padding: 20px;
    color: black;
    font-size: large;
    font-weight: bolder;
    background-color: beige;
}

#label {
    color: black;
}

.helptext {
    visibility: hidden;
    display: none;
}

.errorlist {
    color: red;
    list-style: outside;
    text-align: center;
}

h1 {
    margin-top: 15%;
    text-align: center;
}

p {
    text-align: center;
}

#containerIntro h4,
#containerIntro p {
    display: inline;
    vertical-align: top;
}

#containerIntro p {
    color: beige;
    font-style: italic;
}