{% load static  %}
<!DOCTYPE html>
<html>
    <head>
        <title>"PROFILE"</title>
        <link rel="icon" href="{% static 'base/icons/favicon.ico' %}">
        <link rel = "stylesheet" href = "{% static 'gaya.css' %}">
      
    </head>
    <body>
        {% block content %}{% endblock %}
        <div class="navigasi">
            <ul>
                <button><a href = "/home">Home</a></button>
                <button><a href = "/profile">Profile</a></button>
                <button><a href = "/education">Education</a></button>
                <button><a href = "/portofolio">Portofolio</a></button>
                <button><a href = "/skills">Skills</a></button>
                <button><a href = "/contact">Contact</a></button>
                <button><a href = "/form">Form</a></button>
            </ul>
        </div>
        {% block akhir%} {% endblock %}
        
    </body> 
</html> 