{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class = "CONTACT">
            <p id="p5">Thank you for paying a visit!</p>
            <p id="p6">We can get in touch through...</p>
        </div>
        <div class = "PHOTO">
            <img src ="{% static 'ig.png' %}" alt= "Instagram">
            <img id = "line" src ="{% static 'Logo LINE.png' %}" alt= "LINE">
            <img src ="{% static 'whatsapp_PNG21.png' %}" alt= "Whatsapp">
            <img src ="{% static '174857.png' %}" alt= "Linkdin">
        </div>  
{% endblock %}
{% block  akhir%}
    <div class ="Lingkaran">
        <canvas id="lingkaran"></canvas>
    </div>
{% endblock  %}

        

    