{% extends 'base.html' %}
{% load static  %}
{% block content %}
    <body>
        <div class = "satu">
            <p id="p3">"EDUCATION"</p>
            <canvas id="myCanvas"></canvas>
        </div>

        <div class = "EDUCATION2">
            <div class ="EDUCATION2-item p1"><a href="http://www.lentera.sch.id/contact_us">Lentera Harapan Junior High School</a></div>
            <div class ="EDUCATION2-item p2"><a href="https://www.sdh.sch.id/kupang">Dian Harapan Senior High School</a></div>
            <div class ="EDUCATION2-item p3"><a href="https://www.ui.ac.id/">University of Indonesia</a></div>
        </div>
    </body>
{% endblock %}