{% extends 'base.html' %}
{%load static%}

{% block content %}
<body>
    <div class ="FORM">
        <form method = 'post'>
            {% csrf_token %}
            <table id="form">
                {{form.as_table}}
            </table>
            <button type = 'submit' id="tombol"> Save </button>
            <button id="tombol"><a href = "result">Lihat Tabel</a></button>
        </form>
   </div>
    

</body>
{% endblock %}