{% extends 'base.html' %}
{%load static%}

{% block content %}
<body>
    <div class= "judul">
        <h1>{{nama}}</h1>
    </div>
    <table id = "table1" >
        <tr>
            <th>Mata Kuliah</th>
            <th>Pengajar</th>
            <th>Jumlah Sks</th>
            <th>Semester</th>
            <th>Ruang Kelas</th>
            <th>Deskripsi</th>
        </tr>
            <tr>
                <td>{{nama.Class}}</td>
                <td>{{nama.Dosen}}</td>
                <td>{{nama.Sks}}</td>
                <td>{{nama.semester}}</td>
                <td>{{nama.ruangan}}</td>
                <td>{{nama.deskripsi}}</td>
            </tr>
        </table>
</body>
{% endblock %}