{% extends 'base.html' %}
{% block content %}

        <div class = "satu">
            <p id="p1">Hi, welcome to my website!!</p>
            <p id="p2">Where do you want to start?</p>
        </div>

{% endblock %}