{% extends 'base.html' %}
{% load static %}
{% block  content%}

        <div class = "satu">
            <p id="p3">"PORTOFOLIO"</p>
            <canvas id="myCanvas"></canvas>
        </div>
        <div class = "PORTOFOLIO1">
            <p id="p4">Here are what i’ve done for the past years....</p>
            <img src ="{% static 'google.png' %}" alt = "Gooogle office">
            <p id="p5">I had an Internship at Google, it was an amazing experience..</p>
        </div>
        <div class = "PORTOFOLIO2">
            <img src ="{% static 'index.jpg' %}" alt = "NASA office">
            <p id="p6">I was working at NASA for 5 years, started back in 2013. We did get to land the first elephant to the moon.</p>
            <img src ="{% static 'amazon.jpg' %}" alt = "Amazon office" id="amazon">
            <p id="p7">I also worked at Amazon for couples months, lots of things learned..</p>
        </div>

{% endblock  %}
   
