{% extends 'base.html' %}
{% load static  %}
{% block content %}
    <body>
        <div class = "satu">
            <p id="p3">"PROFILE"</p>
            <canvas id="myCanvas"></canvas>
        </div>
        <div class = "PROFILE2">
                <img src ="{% static 'CVNNE2370.JPG' %}" alt= "Foto Profil">
                <p id = "p4">Hai, my name is Joshua Diogenes Samuel Rihi. 
                I originally came from East Nusa Tenggara. 
                But that doesn’t stop to learn and eventually 
                that spirit brought me to University of Indonesia.
                I will never stop learning and chasing my dreams.</p>
        </div>
    </body>
{% endblock %}