{% extends 'base.html' %}
{%load static%}

{% block content %}
<body>

    <table id = "table1" >
        <tr>
            <th>Mata Kuliah</th>
            <th>Delete</th>
            <th>Detail</th>

        </tr>
        {% for hasil in jadwal%}
            <tr>
                <td>{{hasil.Class}}</td>
                <td><button type = 'submit' id = "tombol"><a href = "delete/{{hasil.Class}}">Delete</a></button></td>
                <td><button type = 'submit' id = "tombol"><a href = "detail/{{hasil.Class}}">Detail</a></button></td>
            </tr>
        {% endfor %}
        </table>
</body>
{% endblock %}