{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class = "satu">
            <p id="p3">"SKILLS"</p>
            <canvas id="myCanvas"></canvas>
        </div>
        <div class = "skills">
            <li>
                <h3>Java</h3><span class ="bar"><span class ="java"></h3>
            </li>
            <li>
                <h3>Python</h3><span class ="bar"><span class ="python"></h3>
            </li>
            <li>
                <h3>Ms Word</h3><span class ="bar"><span class ="word"></h3>
            </li>
            <li>
                <h3>Ms Power Point</h3><span class ="bar"><span class ="power"></h3>
            </li>
            <li>
                <h3>Ms Excel</h3><span class ="bar"><span class ="excel"></h3>
            </li>
            <li>
                <h3>Music Producing</h3><span class ="bar"><span class ="musik"></h3>
            </li>
        </div>
{% endblock  %}
   