{% extends 'pertama.html' %}
{% load static  %}
{% block body %}
<div id ="signup">
		<div class = "card z-depth-3">
			<div class ="card-panel center black">
				<span class = "card-title">Login</span>
			</div>
            <form class = "site-form" action="/story9/login" method="post" >
                {% csrf_token %}
                <div class ="input-field">
                    <i class ="material-icons prefix">face</i>
                    <label for="username" id = "label">Username</label>
                    <input id="username" type="text" name="username">
                </div>
                <div class ="input-field">
                    <i class ="material-icons prefix">lock</i>
                    <label for="password" id = "label">Password</label>
                    <input id="password" type="password" name="password">
                </div>

                
                {% for message in messages %}
                    <p style="color: red;">{{message}}</p>
                {% endfor %}
                    

                <div class ="center">
                    <input type="submit" value = "Log In" class = "btn-large black">
                </div>
            </form>
        </div>
	</div>

{% endblock body %}
