{% load static  %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>THE ONE</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
                
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script src ="static/two.js"></script>
        
        <link rel = "stylesheet" href = "{% static 'the.css' %}">
        
    </head>
    <body>
            <nav>
                <div class="nav-wrapper">
                    <a href="/story9/" class="brand-logo">STORY 9</a>
                    <ul class="right hide-on-med-and-down" id = "atas">
                        {% if request.user.is_authenticated %}
                            <li><a href='logout' id = "tombol">Logout</a></li>
                           
                        {% else %}
                            <li><a href='signup' id = "tombol">Sign Up</a></li>
                            <li><a href='login' id = "tombol">Login</a></li>
                        {% endif %}
                
                    </ul>
                </div>
            </nav>
    {% block body %}
    {% endblock body %}
    {% if request.user.is_authenticated %}
        <div class ="kata">
            <div id="containerIntro">
                <h1> Selamat datang 
                <p id ="sambut">{{name}}</p></h1>
            </div>
        </div>
    {%else%}
        <div class ="kata">
            <h2> Selamat datang ! </h2>
            <div id="containerIntro">
                <h4> Silahkan mendaftar pada bagian 
                <p id ="sambut">Signup</p> atau <p id ="sambut">Login</p> diatas.</h4>
             </div>
        </div>
    {% endif %}
    </body> 
    
</html>

