{% extends 'pertama.html' %}
{% load static  %}
{% block body %}
    <div id ="signup">
		<div class = "card z-depth-3">
			<div class ="card-panel center black" id = "judul">
				<span class = "card-title" id="bagian-atas">Sign Up</span>
			</div>
			<form class="site-form" action="/story9/signup" method="post">	
				{% csrf_token %}
				
				{% for field in form %}
					{{field.label}}
					{{field}}
				{% endfor %}
				{{ account_form }}

				{{form.errors}}
				<div class ="center">
					<input type="submit" value = "Sign Up" class = "btn-large black lighten-2">
				</div>
			</form>
		</div>
	</div>	

{% endblock body %}

